
body {
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	color: #46494C;
}
.intro-container {
	background-color: #EBEBEB;
	height: 600px;
}
.intro-container .logo {
	font-family: pacifico;
	padding: 15px;
}
.intro-container .intro-speech {
	padding-top: 150px;
	padding-left: 150px;
	width: 800px;
	height: 700px;
	display: inline-flex;
}
.intro-speech .name {
	color: #FEC62F;
	letter-spacing: 2px;
}
.thin {
	font-weight: lighter;
}

.intro-speech .text-header p{
	letter-spacing: 5px;
}
.intro-speech .text-header .role{
	letter-spacing: 3px;
}
.intro-speech .picture img{
	margin-left: 50px;
	width: 400px;
}	
.obj-container {
	background-color: #fff;
	padding-top: 100px;
	padding-left: 150px;
	display: inline-flex;
}
.obj-container .obj-text {
	width: 700px;
	margin-left: 50px;
}
.skills-container {
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 150px;
	background-color: #363732;
	color: #EBEBEB;
}
.skills {
	display: inline-flex;
}
.skills-container .skill1{
	width: 100px;
	height: 100px;
	border: 1px solid #FEC62F;
	border-radius: 50%;
	text-align: center;
	margin-left: 100px;
}
.skills-container .skill1 div {
	padding-top: 40px;
}
.xp-container {
	background-color: #EBEBEB;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 150px;
	
}
.xp-container .xp-all {
	display: inline-flex;
}
.xp-container .xp {
	margin-left: 50px;
	background-color: #EBEBEB;
	padding: 20px;
	line-height: 30px;
	border-radius: 10px;
	box-shadow: 2px 5px 6px #C2C1C2;

}
.xp-container .xp .role {
	font-size: 15px;
	font-weight: bold;
}
.xp-container .xp .company {

}
.xp-container .xp .date {
	font-size: 10px;
}
.education {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 150px;
	background-color: #363732;
	color: #EBEBEB;
}
.education .all-schools {
	display: inline-flex;
}
.education .all-schools .sch {
	margin-left: 50px;
	line-height: 25px;
}
.ruler {
	height: 40px;
	width: 1px;
	background-color: #eee;
	margin: 20px;
}
.education .all-schools .sch .cert {
	color: #FEC62F;
	font-style: italic;
}
.education .all-schools .sch .school {
	font-size: 12px;
}
.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 250px;
	background-color: #EBEBEB;
}
.footer .contact-link {
	display: inline-flex;
}

.contact-link a {
	text-decoration: none;
	color: inherit;
	margin: 20px;
	text-transform: uppercase;
}
.download {
	background-color: #FEC62F;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 2px 5px 6px #C2C1C2;
}
a:hover {
	color: #FEC62F;
}
.download a {
	padding: 10px;
}
.download:hover {
	background-color: #363732;
}
